/** Admin **/

#page-admin-course-manage .rolelink {text-align:right;padding:10px;}

#page-admin-lang .generalbox,
#page-admin-course-manage .singlebutton,
#page-admin-course-manage .addcategory,
#page-admin-stickyblocks .generalbox,
#page-admin-maintenance .buttons,
#page-admin-course-manage .buttons,
#page-admin-index .copyright,
#page-admin-index .copyrightnotice,
#page-admin-index .adminerror,
#page-admin-index .adminwarning,
#page-admin-index .adminerror .singlebutton,
#page-admin-index .adminwarning .singlebutton,
#page-admin-index #layout-table .singlebutton {text-align: center;}

#page-admin-index .adminerror,
#page-admin-index .adminwarning {margin:20px;}

#page-admin-index .maturitywarning,
#page-admin-index .testsitewarning {margin-left:auto;margin-right:auto;text-align:center;width:60%;background-color:#ffd3d9;}
#page-admin-index .releasenoteslink {margin-left:auto;margin-right:auto;text-align:center;width:60%;}

#page-admin-enrol .enrolplugintable {width:700px;margin:1em auto;}

#page-admin-report-capability-index #settingsform h2,
#page-admin-report-capability-index #settingsform p,
#page-admin-report-capability-index #settingsform #menucapability,
#page-admin-report-capability-index #settingsform #menuroles,
#page-admin-report-capability-index #settingsform #capabilitysearchui {margin:0.5em 1em 0.2em 1em;}
#page-admin-report-questioninstances-index #settingsform h2 {margin-top: 0;}
#page-admin-report-questioninstances-index #settingsform p {margin-bottom: 0;}
#page-admin-report-questioninstances-index #settingsform p {margin-bottom: 0;}

.plugincheckwrapper {text-align: center;}

#page-admin-index .explanation,
.path-admin-roles .cell.c1,
.path-admin-roles .cell.c3 {font-size: 0.7em;}
#adminsettings .form-shortname,
#admin-lang .translator .strkey {font-size: 0.75em;}
#page-admin-index .copyright,
.environmenttable,
#adminsettings .form-defaultinfo,
#page-admin-uploaduser table#uupreview,
#adminsettings .form-warning,
#adminsettings .form-overridden,
#page-admin-uploaduser table#uuresults {font-size: 0.9em;}
#page-admin-auth_config .required {background-color:#DDDDDD;}
#page-admin-tool-unittest-index .sep {color:#AAAAAA;}
.path-admin-roles .capabilitysearchui {text-align:center;margin:0.5em;}

.path-admin .rolecap .cap-name,
.path-admin .rolecap .note {color: #888;font-size: 0.75em;}

#page-admin-blocks table.generaltable th,
#page-admin-blocks table.generaltable td.cell,
#page-admin-filters table.generaltable th,
#page-admin-filters table.generaltable td.cell,
#page-admin-modules table.generaltable th,
#page-admin-modules table.generaltable td.cell,
#page-admin-auth table.generaltable th,
#page-admin-auth table.generaltable td.cell{text-align: center;vertical-align: middle;}
#page-admin-blocks table.generaltable th.c0,
#page-admin-blocks table.generaltable td.c0,
#page-admin-filters table.generaltable th.c0,
#page-admin-filters table.generaltable td.c0,
#page-admin-modules table.generaltable th.c0,
#page-admin-modules table.generaltable td.c0,
#page-admin-auth table.generaltable th.c0,
#page-admin-auth table.generaltable td.c0 {text-align: left;}

#page-filter-manage .buttons,
.path-admin-roles .buttons {margin: 20px;text-align:center;}

#filter-manage .backlink,
.path-admin-roles .backlink {text-align: right;width: 90%;margin: 2em auto 1em auto;}

.admin .generalboxcontent {background-color:#EEEEEE;}
.admin .generalbox {border-color:#BBBBBB;background-color:#EEEEEE;}
.admin .informationbox {border-color:#BBBBBB;background-color:#FFFFFF;}
#page-admin-index .adminerror {background-color:#FF6666;}
#page-admin-index .c0 {background-color: #FAFAFA;}
.path-admin .blockstable .r0 {background-color: #F0F0F0;}
.path-admin .blockstable .r1 {background-color: #FAFAFA;}
.path-admin .incompatibleblockstable td.c0 {color: #ff0000;}
table.flexible .r0 {background-color: #FAFAFA;}
table.flexible .r1 {background-color: #F0F0F0;}
#page-admin-report-security-index #timewarning {text-align:center;}

#adminsettings fieldset {background-color: #EEE;border:1px solid #BBB;color: #000;}
#adminsettings fieldset.error {border: 1px solid red;}
#adminsettings fieldset.error legend {color: red;}
#adminsettings .form-shortname {color: #888;}
#adminsettings .form-warning {background-color: #f88;}
#adminsettings .form-defaultinfo {color: #888;}
#adminsettings .form-item .pathok {color: green;}
#adminsettings .form-item .patherror {color: red;}

#page-admin-qtypes .cell.c1,
#page-admin-qtypes .cell.c2 {text-align: center;}
#page-admin-qtypes .cell.c3 {font-size: 0.7em;}

#page-admin-lang .translator {border-color: #DDDDDD;}
#page-admin-lang .translator tr.r0 {background-color: #F0F0F0;}
#page-admin-lang .translator tr.r1 {background-color: #FAFAFA;}
#page-admin-lang .translator .strkey {color: #666666;}
#page-admin-lang .translator .bothmissing {background-color: #EF6868;}
#page-admin-lang .translator .mastermissing {background-color: #FEFF7F;}
#page-admin-lang .translator .localdifferent {background-color: #AAFFAA;}
.environmenttable .error {background-color : red;color : inherit;}
.environmenttable .warn {background-color : yellow;}
.environmenttable .ok {background-color : lime;}
#page-admin-uploaduser .uuinfo {background-color: #8e8;}
#page-admin-uploaduser .uuwarning {background-color: #ee8;}
#page-admin-uploaduser .uuerror {background-color: #e99;}
#page-admin-xmldb-index .button,
#page-admin-xmldb-index .buttons {color: gray;}
#adminthemeselector .selectedtheme td.c0 {border-width:2px;}
#adminthemeselector .selectedtheme td.c1 {border-width:2px;}
#page-admin-roles-override .capcurrent {background-color:#FFFFFF;border: 1px solid #CECECE;}

#page-admin-roles-define .capdefault {background-color:#DDDDDD;border: 1px solid #CECECE;}
#page-admin-roles-manage .rolecap,
#page-admin-roles-override .rolecap {border:none;border-bottom:1px solid #CECECE;}

.path-admin #manageauthtable {width:90%;margin:0 auto;}

#explaincaps .rolecap.yes {background-color: #DDFFDD;}
#explaincaps .rolecap.no {background-color: #FFDDDD;}


/**
* Web services
*/
#page-admin-webservice-service_users .missingcaps {color: #ff6600;font-size: 90%;}
#page-admin-setting-webservicetokens .missingcaps {color: #ff6600;font-size: 90%;}
#page-admin-webservice-service_functions .functiondesc {font-size: 90%;}

/**
 * Right to left fixes
 */
#page-admin-blocks.dir-rtl .generaltable th.c0,
#page-admin-blocks.dir-rtl .generaltable td.c0,
#page-admin-filters.dir-rtl .generaltable th.c0,
#page-admin-filters.dir-rtl .generaltable td.c0,
#page-admin-modules.dir-rtl .generaltable th.c0,
#page-admin-modules.dir-rtl .generaltable td.c0,
#page-admin-auth.dir-rtl .generaltable th.c0,
#page-admin-auth.dir-rtl .generaltable td.c0 {text-align: right;}
