#block-region-side-pre, #block-region-side-post {
    
}

/*******************
General
*******************/
.container-fluid {
    max-width: 1170px; /*optimised for 1366px screen-res*/
}
a, a:link, a:visited {
    color: #5b3957;
}
a:hover, a:active, .breadcrumb a:hover {
    text-decoration: underline;
}
.breadcrumb {
    color: #aaa;
}
.breadcrumb a {
    font-weight: 500;
    color: #000;
}
.breadcrumb-nav .breadcrumb {
    padding: 7px;
}
#page-navbar .breadcrumb-button {
    margin-right: 0;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, input, textarea {
    font-family: 'Open Sans', sans-serif;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, input, textarea {
    color: #4d4d4f;
}
body {
    background: #fff url([[pix:theme|bg_page]]) top center repeat-y !important;
    font-size: 90%;
    margin-bottom: 0;
}
header {
    background: none !important;
}
div, span, button {
    border-radius: 0 !important;
}

/********************************
Buttons, Tabs, Navs
********************************/
button, input.form-submit, input[type="button"], input[type="submit"], input[type="reset"] {
    border: none;
    font-size: 95%;
}
button, input input.form-submit, input[type="button"], input[type="submit"], input[type="reset"], input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], td.submit input, .buttons > a {
    background-color: #5b3957;
    background-image: none;
    filter: none;
    color: #fff;
}
button:hover, input input.form-submit:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, input#id_submitbutton:hover, input#id_submitbutton2:hover, .path-admin .buttons input[type="submit"]:hover, td.submit input:hover, .buttons > a:hover {
    background-color: #a9b432;
    background-image: none;
    filter: none;
}
.navbar .nav.pull-right {
    margin-right: 0;
    padding: 0 10px;
    background: #none;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #fff;
    margin-left: 5px;
}
.nav-tabs > li > a  {
    background-image: none !important;
    background: #e8e8e8;
    color: #333;
    border: 1px solid #ddd;
    border-bottom: none;
}
.nav-tabs > li > a:hover {
    background: #eee;
    border: 1px solid #ddd;
    border-bottom: none;
    text-decoration: none;
}

/********************************
Navigations Top Menu
********************************/
.navbar-inner {
    background: none;
    filter: none;
}
.navbar .nav > li > a {
    padding: 10px;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow: none;
}
.navbar-fixed-top .navbar-inner .container-fluid {
    background: #212121;
}
div#totaramenu ul li,
div#custommenu ul li {
    font-weight: 500;
}
div#totaramenu > ul > li.first > a {
    /*border-right: 1px solid #747578 !important;*/
}
div#totaramenu ul li a, 
div#custommenu ul li a {
    border-color: #747578;
    color: #8e8d8d;
    padding: 12px;
}
div#totaramenu ul li a:hover,
div#custommenu ul li a:hover {
    background: none;
    color: #fff;
    filter: none;
}
div#custommenu ul li.selected a,
div#totaramenu ul li.selected a {
    background: none;
    color: #fff;
    border-radius: 0;
    border-left: 1px solid #747578 !important;
}
div#totaramenu ul ul, 
div#custommenu ul ul {
    box-shadow: none;
}
.icon-text {
    display: none;
}

/********************************
Header
********************************/
#page-header {
    background: none !important;
}
#page-navbar-wrapper {
    border: none;
    background: none !important;
}
#page-header-wrapper.container-fluid {
    background: #5c3957 url([[pix:theme|bg_header]]) no-repeat top right;
    border-top: 1px solid #fff;
}
.logininfo {
    color: #8e8d8d;
    padding-left: 0;
}
.logininfo a {
    color: #8e8d8d;
    text-decoration: underline;
}
.logininfo a:hover {
    text-decoration: none;
    color: #fff;
}
.user-picture img {
    border-radius: 50%;
    background-clip: padding-box;
}
.navbar-text {
    line-height: 1em;
    padding: 15px 0;
}
.logo {
    padding: 15px;
}
.bannertext {
    margin-top: -90px;
    padding-right: 15px;
}
.bannertext p {
    color: #172A48;
    font-size: 1.3em;
}
#page-site-index .breadcrumb-nav {
    padding-bottom: 15px;
}
#page-site-index .breadcrumb {
    display: none;
}

/********************************
Slides
********************************/
#region-hero-slide .block,
#region-hero-slide .block .content, 
#region-hero-slide .block.block_html .content .no-overflow {
    padding: 0;
    margin: 0;
    box-shadow: none;
}

    #page-site-index #slides {
      border-top: 15px solid white;
      background: white;
    }

    #slides .slidesjs-navigation,
    #slides .slidesjs-play,
    #slides  .slidesjs-stop {
      display: none !important;
    }

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url([[pix:theme|btns-next-prev]]);
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }

    a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }
    
    .slidesjs-slide {
        width: 100% !important;
        height: 100% !important;
    }
    
    .slidesjs-pagination {
      margin: -20px 5px 0 0;
      float: right;
      list-style: none;
      position: relative;
      z-index: 9999;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url([[pix:theme|pagination]]);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }

/********************************
Blocks
********************************/
.block {
    box-shadow: none;
    border: none;
    background: none;
    margin-bottom: 15px;
    -webkit-box-shadow: -1px 0px 5px 0px rgba(50, 50, 50, 0.20);
    -moz-box-shadow: -1px 0px 5px 0px rgba(50, 50, 50, 0.20);
    box-shadow: -1px 0px 5px 0px rgba(50, 50, 50, 0.20);
}
.block .header, .block-region .hidden .header {
    background: none !important;
    background-image: none;
    border-bottom: 1px solid #ddd;
}
.block .header .title h2 {
    color: #303030 !important;
}
.block .header .title h2, .block h3.main {
    font-weight: bold;
    padding: 2px 6px;
}
.block .content {
    background: none;
}
.block_settings hr {
    display: none;
}

/********************************
Tiles
********************************/
#tileoutlinearea h3.sectionname {
    color: #fff !important;
    font-size: 1.7em;
}
.tileoutlinearea {
    background-image: none !important;
    background-color: #BBCC22 !important;
    padding: 20px 0;
    border-radius: 10px !important;
}
.tileoutlinecontent {
    background: none;
    width: 90%;
}
.tileoutlinecontent h1,
.tileoutlinecontent  p {
    color: #fff;
}
.tile a {
    color: #fff;
    background-image: url([[pix:theme|tilebg]]) !important; 
}
.tiletitle, .tile a:hover .tiletitle {
    background-color: transparent !important;
    text-decoration: none !important;
}
#tileoutlinearea .activityinstance a {
    color: #fff;
}
#tileoutlinetiles a {
    border-radius: 10px !important;
}

/* Topics view */
.tiletopicnav ul li a {
    color: #5B3957 !important;
    border: 1px solid #5B3957;
}
.tiletopicnav ul li a:hover, 
.tiletopicnav ul li a:active {
    background-color: #5B3957 !important; 
    color: #fff !important;
}
.tiletopicnav ul li a.current {
    background: #a9b432 !important;
    border: 1px solid #a9b432;
}

/********************************
Docking
********************************/
body.has_dock {
    margin-left: 0;
}
#dockeditempanel .dockeditempanel_hd {
    background: #ddd;
}
#dockeditempanel .dockeditempanel_hd h2 {
    color: #000;
}
#dockeditempanel .dockeditempanel_bd {
    background: #fff;
}
#dockeditempanel .dockeditempanel_content {
    box-shadow: none;
}

/********************************
Footer
********************************/
#page-footer {
    background:  url([[pix:theme|bg_footer]]) no-repeat top center;
    border: none;
    height: auto;
    position: relative;
}
#page-footer, #page-footer p {
    color: #888;
}
#page-footer #footnotewrapper {
    padding: 10px 0;
    display: table;
    width: 100%;
}
#page-footer .footer-col-left {
    padding-left: 10px;
}
#page-footer .text-left {
    margin-top: -45px;
    float: right;
}
#page-footer .helplink {
    float: left;
}
#page-footer .footer-col-right {
    display: table;
    float: right;
    padding-left: 1em;
}
#page-footer .footer-col-right p {
    color: #a9b433;
    font-size: 125%;
    font-weight: 600;
    background:  url([[pix:theme|line_footer]]) no-repeat bottom left;
    padding: 0 0 5px 0;
    margin-bottom: 15px;
}
#page-footer .footer-col-right td{
    padding-right: 60px;
}
.footer-col-right ul {
    display: none;
}
.footnote.text-left li {
    display: inline;
}
.footnote.text-left a {
    padding-left: 2em;
    font-size: 1.3em;
    text-transform: uppercase;
    color: #BBCC22;
}

/********************************
Home page
********************************/
#region-main .sitetopic .buttons img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/********************************
Front (Custom) page
********************************/
#custom-homepage-regions img {
    width: auto;
}
#custom-homepage-regions div.content p {
    text-align: center;
    padding-bottom: 20px;
}
#custom-homepage-regions .block .header .commands {
    position: relative;
}
#custom-homepage-regions #region-hero-unit {
    display: none;
}
#page-site-index .row-fluid .span9 {width: 78%;} /*Block Pre + Main*/
#page-site-index .row-fluid .span3 {margin-left: 0; width:22%;} /*Block - Post*/

#page-site-index .moodle-actionmenu.show[data-enhanced] .menu {
    width: 200px;
}

/********************************
Custom Login
********************************/
#page-login-index .breadcrumb-nav li {display: none;}
#page-login-index .loginbox {
    position: relative;
    max-width: 100%;
    border: none;
    padding: 10px;
}
#page-login-index .navbar-inner {
    display: none;
}
.login-image {
    text-align: center;
}
.loginbox h2 {
    padding: 10px 0;
}
.loginbox .subcontent {
    padding: 0 0 10px 0;
}
.loginbox .loginpanel_left,
.loginbox .loginpanel_right {
    width: 49%;
}
.loginbox .loginpanel_left {
    float: left;
    max-width: 100%;
    background: #f3f3ef;
    padding: 0.5em;
    box-sizing: border-box;
}
.loginbox .desc {
    font-size: 0.8em;
}
.loginbox .loginsub {
    line-height: 1.6em;
}
.loginbox .loginpanel_right {
    float: right;
}
.loginbox .loginform .form-input {
    width: 100%;
    text-align: center;
    float: none;
}
.loginbox .loginform .form-input input {
    width: 14em;
    padding: 0.7em;
}
.loginbox .loginform .form-input input[type="submit"] {
    width: auto;
    padding: 2% 20%;
}
.loginbtn_wrapper > input {
    width: 8em !important;
}
.loginbtn_wrapper {
    padding: 10px 0;
}
.loginurl {
    margin-top: 20px;
}
.loginurl a {
    font-weight: bold;
}
.loginbox .guestsub, .loginbox .forgotsub, .loginbox .potentialidps {
    display: none;
}
/* Slides */
.slides_control {
    max-width: 550px !important;
}
.slides_container {
    overflow: hidden;
    border: 1px solid #d4d4d4;
    max-height: 295px;
}
.slide img {
    max-width: 552px;
}
.slides_container .slide {
    padding: 0;
    line-height: 0em;
}
ul.pagination {
    list-style: none;
    position: relative;
    right: 0;
    margin: 10px 0 0 0;
    text-align: right;
}
ul.pagination li {
    display: inline;
}
ul.pagination li a {
    margin: 0 2px;
    padding: 3px 7px !important;
    width: 10px;
    height: 16px;
    color: #fff !important;
    border: 1px solid #d4d4d4;
    background-color: #5b3957;
    text-decoration: none;
}
ul.pagination li a:hover, 
ul.pagination li.current a {
    color: #fff !important;
    background-color: #a9b432;
}

/********************************
Responsive
********************************/
@media (max-width: 767px) { 
    
    #page {
        padding: 15px;
    }
    .logo img {
        width: 200px;
    }
    .logo, .bannertext p {
        padding: 24px 0;
    }
    .bannertext.text-right img {
        width: 100px;
        height: auto;
    }
    .bannertext {
        margin: -50px 0 -10px 0;
    }
    .user-picture {
        padding-right: 0 !important;
    }
    
    #page-course-view-tiles #region-main {
        padding: 0 0 10px 0;
    }
    /*Login page*/
    #page-login-index .breadcrumb-nav .breadcrumb {
        display: none;
    }
    #page-login-index .loginbox {
        padding: 0;
    }
    #page-login-index .loginpanel {
        max-width: 90%;
    }
    #page-login-index .loginpanel_left,
    #page-login-index .loginpanel_right {
        width: 100%;
    }
    .loginbox .loginform .form-input input,
    .loginbox .loginform .form-input input[type="submit"] {
        width: 300px;
        margin-bottom: 10px !important;
    }
}

@media (max-width: 979px) { 
    .navbar .btn-navbar {
        float: left;
    }
    body.has_dock {
        margin-left: 44px;
    }
    #page-footer .footer-col-left, 
    #page-footer .footer-col-right {
        float: none;
        padding: 0;
        text-align: center;
        width: 100%;
    }
    #page-footer .footer-col-right {
        padding-top: 10px;
    }
    #page-footer .footer-col-right td {
        padding: 0;
        text-align: center;
    }
    #page-footer .footer-col-right p {
        background:  url([[pix:theme|line_footer]]) no-repeat bottom center;
    }
    #page-footer .text-left {
        float: none;
        text-align: center;
        margin-top: 10px;
    }
    .footnote.text-left ul {
        margin: 0;
    }
    .footnote.text-left a {
        font-size: 1em;
        padding: 0 1em;
    }
}
